@define-color newstream_base_color shade (@theme_base_color, 0.9);
@define-color newstream_fg_color shade (@theme_fg_color, 0.9);
@define-color newstream_bg_color shade (@theme_bg_color, 0.9);
@define-color newstream_selection_color @theme_selected_bg_color;

* {
  font-family: Roboto, Cantarell, Sans-Serif;
}

.small {
  font-size: 85%;
}

.channel-button {
  border-radius: 0;
  border-style:none;
  box-shadow:none;
  outline-width:0;
  border-image:none;
  background-image: none;
}
.channel-button:active {
  background-color: @newstream_bg_color;
}
.bookmark {
  margin: 0;
}.selected {
  color: @newstream_selection_color;
}
